.settings/
**/.classpath
**/.project
.classpath
.project
*/bin/
**/bin
**/target/
**/logs/
.idea
.DS_Store

*.con
*.jar
*.log
*.iml

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/digiccy-config/src/main/resources/dev
/option-client/src/main/resources/static
